body{
  font-family: sans-serif;  
}

.grid {
  border-top: 1px solid black;
  border-left: 1px solid black;

}

.nav-bar {
  background-color: black;
  height: 100px;
  color: white;    
}

.nav-bar .button {
  margin: 20px;
}

.border{
  display: table-cell;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
  width:25px;
  height:25px;  
}

.legend {
  margin-top:10px;
  padding: 0px 5px 0px 5px;
}

.legend > .border{
  border: 1px solid black;
  vertical-align: middle;
  display:inline-block;
  width:25px;
  height:25px;  
}

.legend > .description{
  margin-left: 2px;
  margin-right:50px;
}

body{
  margin: 0 auto;
}

.startPoint {
  background-color:blue;
}

.shortestPath {
  background-color: lightgreen;
}

.endPoint{
  background-color:red;
}

.wall{
  background-color:black;
}

.visited {
  background-color:green;
}

.weight{
  background-color:grey;   
  text-align: center;
  font-size: 15px;
}